<!DOCTYPE html>
<html>

<head>
    <title>Sentiment Analysis</title>
</head>

<body>
    <div>
        <h4 id="display_date">DATE</h4>
    </div>

    <div>
        <h4>
            Enter text
        </h4>
        <textarea id='text' name='text_input' rows='4' maxlength="200" placeholder="How was your day?">

        </textarea>
    </div>
    <div>
        <button id = 'predict_button'>Predict emotion</button>
    </div>

    </passing variable in the web page />
    <h1>My name is {{index_variable}}</h1>
</body>

</html>